html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

.label {
  font-size: 20px;
  font-weight: bold;
}

.container {
  background-color: orangered;
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-top: 50px;
  }
}
